.navbar {
    background-color: #cfd8dc;
    color: #282c34;
}
.navbar ul {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    height: 48px;
    width: 100dvw;
    list-style-type: none;
}
.navbar ul li a{
    text-decoration: none;
    color: #282c34;
    font-size: 28px;
}

.hamburger-icon {
    cursor: pointer;
    height: 48px;
    width: 48px;
  }

.nav-logo {
  width: 48px;
  height: 48px;
}

.sidenav {
    position: fixed;
  top: 0;
  left: 0;
  width: 50dvw;
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 1rem;
  height: 100%;
  background: #cfd8dc;
  box-shadow: crimson;
  transition: all 0.3s ease-in-out;
  transform: translate(0);
  overflow-x: hidden;

}
.sidenav-hidden {
    transform: translate(-100%);
    transition: all 0.3s ease-in-out;
}

.sidenav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}
.sidenav-closebtn {
    border: 1px solid #000;
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.sidenav-links {
    display: block;
    text-align: center;
}
.sidenav-link{
    padding: 0.5rem 1.75rem;
  }
  .sidenav-link a{
    font-size: 1.5rem;
    transition: all 0.3s linear;
    text-transform: capitalize;
    text-decoration: none;
    color: #282c34;
  }



  .sidenav-tools-dropdown{
    visibility: hidden;
    opacity: 0;
    transition: opacity 300ms, visibility 300ms;
    height: 0;

  }
  
.tools-link:hover > .sidenav-tools-dropdown{
 visibility: visible;
 opacity: 1;
 height: max-content;
}

.overlay{
    display: none;
    position: fixed ;
    top:0;
    left: 0;
    width: 100dvw;
    height:100dvh;
    background-color: rgba(0,0,0,0.7);
    transition: all 1.2s ease-in-out;
}
.overlay-shown {
    display: block;
}

@media only screen and (max-width: 800px) {
    .sidenav {
      width: 100dvw;
    }
  }
